#daw {
  #contextMenu {
    position: fixed;
    width: 200px;
    z-index: 4;
    box-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .group {
      display: flex;
      flex-direction: column;
      .groupTitle {
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.35);
      }
      button {
        display: flex;
        width: 100%;
        font-size: 12px;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
        .shortCut {
          font-size: 12px;
          opacity: 0.7;
        }
      }
    }
  }
  header {
    background-color: white;
  }
  input.focusChecker[type="radio"] {
    display: none;
  }
  input.focusChecker[type="radio"]:checked + .focusTarget {
    filter: brightness(0.8);
  }
  .focusLabel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid;
    }
    .badge {
      position: absolute;
      background-color: red;
      left: 0;
      top: -25px;
      height: 25px;
      border-radius: 7.5px 7.5px 0 0;
      overflow: hidden;
      max-width: 25px;
      min-width: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: max-width 1000ms;
      .name {
        display: none;
        margin-right: 5px;
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:hover {
        max-width: 300px;
        width: initial;
        .name {
          display: inline;
          color: white;
        }
      }
      img {
        margin: 2.5px;
        width: 20px;
        height: 20px;
      }
    }
  }
  #inviteColaboratorModal {
    width: 200px;
    top: 10px;
    left: 10px;
    height: 200px;
    background-color: white;
    z-index: 3;
    .userBadge {
      padding: 5px;
      .email {
        font-size: 13px;
      }
      .name {
        margin-top: 5px;
        display: inline-flex;
        align-self: center;
        font-size: 15px;
        background-color: gray;
        padding: 2.5px;
        align-items: center;
        color: white;
        justify-content: center;
        border-radius: 5px;
      }
    }
  }
  #AddNewTrackModal {
    width: 200px;
    top: 10px;
    left: 10px;
    height: 200px;
    background-color: white;
    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
    }
  }
  #ProjectSettingModal {
    width: 500px;
    top: 10px;
    left: 10px;
    height: 300px;
    background-color: white;
    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
    }
  }
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  #topPannel {
    background-color: rgb(97, 97, 97);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    #timeSetInfo {
      width: 100px;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 5px;
      border-radius: 10px;
      .row {
        display: flex;
        font-size: 14px;
        color: white;
        justify-content: flex-end;
        span {
          flex: 1;
          text-align: right;
        }
      }
    }
    #playbackCtl {
      border-radius: 10px;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
      button {
        padding: 10px;
        border-right: 0.5px solid rgba(255, 255, 255, 0.3);
        font-size: 20px;
        color: white;
        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
  .centerRow {
    flex: 1;
    #pannels {
      width: 200px;
      border: 1px solid gray;
      border-right: none;
      position: relative;
    }
    #scores {
      flex: 1;
      border: 1px solid gray;
      overflow: auto;
      display: flex;
      flex-direction: column;
      #timeLineBox {
        height: 25px;
        display: flex;
        position: inherit;
        background-color: rgba(0, 0, 0, 0.5);
        #timeLine {
          overflow: auto;
          flex: 1;
          position: relative;
          height: 100%;
          display: flex;
          overflow: auto;
          #currentPoint {
            position: absolute;
            left: 0;
            bottom: 15px;
            transition: left 10ms;

            #triangle {
              &:hover {
              }
              cursor: pointer;
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 12.5px 7.5px 0 7.5px;
              border-color: #00000071 transparent transparent transparent;
            }
          }
        }
      }
      .barArea {
        flex: 1;
        width: 40px;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        position: relative;
        &:last-of-type {
          border-right: none;
        }
        .barIndex {
          position: absolute;
        }
      }
      #scoreTool {
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid gray;
        button {
          font-size: 13px;
          font-weight: bold;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 2.5px 5px;
          border-radius: 5px;
        }
      }
      .channel {
        border-bottom: 1px solid gray;
        display: flex;
        position: relative;
        .ctl {
          padding: 10px;
          position: sticky;
          left: 0;
          width: 100px;
          border-right: 1px solid gray;
          background-color: white;
          position: relative;
        }
        .board {
          overflow: auto;
          flex: 1;
          height: 100%;
          background-color: rgb(88, 88, 88);
          position: relative;
          display: flex;
          overflow: auto;

          .region {
            position: absolute;
            // border: 1px solid #ccc;
            box-shadow: 0 0 2px rgba(0, 0, 0, 1);
            padding: 10px;
            border-radius: 5px;
            height: 100%;
            color: white;
            z-index: 1;
            background-color: rgb(49, 49, 49);
            &:hover {
              filter: brightness(1.2);
            }
          }
          .playBar {
            position: absolute;
            z-index: 1;
            width: 1px;
            height: 100%;
            left: 0;
            background-color: red;
            top: 0;
            transition: left 10ms;
          }
        }
      }
    }
  }
}

.resizeBar {
  position: absolute;
  z-index: 1;
  &.right {
    width: 5px;
    height: 100%;
    right: 0;
    cursor: ew-resize;
    top: 0;
  }
  &.bottom {
    cursor: ns-resize;
    bottom: 0;
    width: 100%;
    height: 5px;
  }
}
